*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
    line-height: 1.6;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
.nav-link{
    padding-left: 10px;
}
ul{
    list-style-type: NONE;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.nav-btn{
    padding: 8px 24px;
}
.dropdown-item:hover{
    background-color: #5E3BEE;
    color: white;
    transition: .5s;
}
header h1, .experience h1, .portfolio h1{
    font-weight: 700;
    line-height: 1.3;
}
.circle{
    background-color: #f1f0fb;
    height: 500px;
    width: 500px;
    max-width: 100%;
    border-radius: 50%;
}
.cv button, .experience button, .portfolio button{
    background-color: transparent;
    border: none;
}
.cv button:nth-of-type(1) , .experience button, .portfolio button{
    background-color: #5E3BEE;
    color: white;
}
.cv button:nth-of-type(2):hover{
    background-color: #5E3BEE;
    color: white;
}

footer{
    color: white;
}

.count-title {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

.count-text {

    font-weight: 500;
    text-align: center;
}




@media (min-width: 992px) {
    .second-section{
        gap: 50px;
    }
    .description{
        width: 600px;
    }
    .card-body > p{
        width: 460px;
    }
    .brief > p{
        width: 400px;
    }
    header h1{
        width: 700px;
    }
    
}
@media (min-width: 1200px) {
    .second-section{
        gap: 230px;
    }
    .experience h1{
        width: 500px;
        max-width: 100%;
    }
    .experience p{
        width: 550px;
        max-width: 100%;
    }
}
@media (min-width: 1400px) {
    
    .card-body{
        width: 360px;
    }
    .card-body > p{
        width: 340px;
    }
}


@media (max-width:576px){
    .circle{
        height: 400px;
        width: 400px;
    }
}
@media (max-width:992px){
    .nav-link{
        padding-left: 10px;
    }
    .nav-link:hover{
        background-color: #5E3BEE;
        color: white !important;
        padding-left: 15px;
        transition: .5s;
    }
    .hire-me{
        visibility: hidden;
    }
    .footer-one{
        text-align: center;
    }
    .brief{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .footer-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .check{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .circle-image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sm a{
        transition: .5s;
    }
    .sm a:hover{
        color: rgba(233, 233, 233, 0.966);
    }
    
}

@media (max-width: 1200px){
    header h1 , .experience h1, .experience, .check{
        text-align: center !important;
    }
    .name{
        text-align: center;
    }
    .cv{
        justify-content: center;
    }
    .experience .check{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center !important;
    }
    .experience .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
